@model IEnumerable<CategoryModel>
@{
    ViewData["title"] = "Category Listed";

    Paginate pager = new Paginate();
    int pageNo = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
</head>
<body>

<h3>List Categories</h3>
<div class="m-5">
    <a asp-area="Admin" asp-action="Create" asp-controller="Category" class="btn-lg btn btn-primary">Create Category</a>
</div>
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Category Name</th>
        <th scope="col">Category Description</th>
        <th scope="col">Category Slug</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <th scope="row">@item.Id</th>
            <td>@item.Name</td>
            <td>@item.Description</td>
            <td>@item.Slug </td>
            <td>
                <div>
                    <a asp-action="Edit" class="btn btn-warning btn" asp-controller="Category" asp-route-id="@item.Id">Edit</a>
                    <a asp-action="Delete" class="btn btn-danger btn" asp-controller="Category" asp-route-id="@item.Id">Delete</a>
                </div>
            </td>
        </tr>
    }
    </tbody>
</table>
<partial name="_Paging" model="pager"/>
</body>
</html>